# Ignore all .vscode folder
.vscode/

# Ignore pycache folders and .pyc files
__pycache__/
*.pyc

# Ignore DSstore
.DS_Store

# Ignore Pickle file - best_results and generational_summary
.pickle

#  Ignore CSV files
*.csv